<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Spectral+SC&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ $sass := resources.Get "main.scss" }}
    {{ $style := $sass | css.Sass | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  </head>
  <body>
    {{ block "header" . }}
    <header class="header">
      <div class="header__container container">
        <div class="header__wrapper">
          <h2 class="header__title">Megan Hart</h2>
          <nav class="header__nav">
            <a class="header__nav-item" href="/">About</a>
            <a class="header__nav-item" href="/">Commissions</a>
            <a class="header__nav-item" href="/">Other Work</a>
            <a class="header__nav-item" href="/">Contact</a>
          </nav>
        </div>

      </div>
    </header>
    {{ end }}
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <footer class="footer">
      <div class="footer__container container">

      </div>
    </footer>
    {{ end }}
  </body>
</html>